/* 
  Font-stack generic family : priority 1 then 2 then..
*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main {
  font-family: "Trade Winds";
  color: brown;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
  padding: 20px;
  border: 5px solid black;
  background: rgb(203, 198, 198);
}
.one {
  font-weight: 700;
  font-style: italic;
  text-indent: 50px;
  text-decoration: underline;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background: rgb(203, 198, 198);
}
.two {
  font-weight: lighter;
  text-indent: 50px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background: rgb(203, 198, 198);
}

.subheading {
  font-style: normal;
  text-align: center;
  text-transform: capitalize;
  text-decoration: line-through;
  margin: 20px;
  padding: 20px;
  border: 5px solid black;
  background: rgb(203, 198, 198);
}

.three {
  line-height: 2.5;
  letter-spacing: 5px;
  word-spacing: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background: rgb(203, 198, 198);
  text-align: justify;
}

a {
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
